doctype html
html
	head
		title Miblab Weatherstation
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(content="text/html; charset=utf-8",http-equiv="content-type")
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/signin.css')
		link(rel='stylesheet', href='/stylesheets/ionicons.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/font-face.css')
		script(type='text/javascript', src='/js/jquery.js').
		script(type='text/javascript', src='/js/highcharts.js')
		script(type='text/javascript', src='/js/module/series-label.js')
		script(type='text/javascript', src='/js/moment.js')
		script(type='text/javascript', src='/js/popper.min.js')
		script(type='text/javascript', src='/js/bootstrap.min.js')
		script(type='text/javascript', src='/js/script.js')
	body
		block content
