extends layout

block content
	doctype html
	html
		head
			// Bootstrap core CSS
			link(href='//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
			link(rel='stylesheet', href='/stylesheets/style.css')
			link(rel='stylesheet', href='../stylesheets/signin.css')
		body
			.container
				form.form-signin(role='form', action="/register",method="post", style='max-width: 300px;')
					h2.form-signin-heading Register new user
					input.form-control(type='text', name="username", placeholder='Your username')
					input.form-control(type='email', name="emailAddress", placeholder='Your email address')
					input.form-control(type='password', name="password", placeholder='Your password')
					button.btn.btn-lg.btn-primary.btn-block(type='submit') Sign Up