extends layout

block content
	nav.navbar.navbar-expand-md.fixed-top
		.container
			a.navbar-brand(href='#') Saturn Tower
			button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarCollapse', aria-controls='navbarCollapse', aria-expanded='false', aria-label='Toggle navigation')
				span.navbar-toggler-icon
			#navbarCollapse.collapse.navbar-collapse
				ul.navbar-nav.mr-auto
					//li.nav-item.active
						// a.nav-link(href='#')
						//	| Home 
						//	span.sr-only (current)

				button.btn.btn-sm.btn-outline-secondary.my-2.my-sm-0(type="submit")#logoutButton
					span.icon.ion-power
					|  Logout
	.container